<div class="row">
  {{#each book}}
    <div class="col s12 m6 l6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/books.jpg" alt="{{name}}" style="height: 100%; width: auto;">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{name}}</span>
            <table class="responsive-table">
              <tbody>
                <tr>
                  <td><strong>Autor:</strong></td>
                  <td>{{autor}}</td>
                </tr>
                <tr>
                  <td><strong>Categoría:</strong></td>
                  <td>{{categoria}}</td>
                </tr>
                <tr>
                  <td><strong>ISBN:</strong></td>
                  <td>{{isbn}}</td>
                </tr>
                <tr>
                  <td><strong>Existencias:</strong></td>
                  <td>{{numerocopias}}</td>
                </tr>
                <tr>
                  <td><strong>Descripción:</strong></td>
                  <td>{{description}}</td>
                </tr>
              </tbody>
            </table>
          </div>        
        </div>
      </div>
    </div>
  {{else}}
    <h1>No hay resultados.</h1>
  {{/each}}
</div>
