<div class='row'>
  <div class='col s12 m10 offset-m1 18 offset-12'>
    <div class='card'>
      <div class='card-image'>
        <img src='/images/user.png' alt='Imagen de edicion de usuario' />
        <span class='card-title add-project' style='font-weight: bolder;'>
          Editar usuario
        </span>
      </div>
      <form autocomplete="off" action="/user/edit/{{ user._id }}?_method=put" method="post">
     <div class='card-content'>
       <div class='input-field'>
            <label for='user-firstName'>nombre</label>
            <input
              placeholder='nombre del usuario aqui'
              id='user-firstName'
              name='firstName'
              type='text'
              class="validate"
              value="{{ user.firstName }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el nombre del usuario"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          
            <div class="card-content">
          <div class='input-field'>
            <label for='user-lastname'>apellidos</label>
            <input
              placeholder='apellidos del usuario'
              id='user-lastname'
              name='lastname'
              type='text'
              class="validate"
              value="{{ user.lastname }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el apellido del alumno"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
            

          <div class="card-content">
          <div class='input-field'>
            <label for='user-mail'>ingrese el correo</label>
            <input
              placeholder='ingrese un correo'
              id='user-mail'
              name='mail'
              type='text'
              class="validate"
              value="{{ user.mail }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar un correo"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>

           <div class="card-content">
          <div class='input-field'>
            <label for='user-code'>ingrese el grado del alumno</label>
            <input
              placeholder='grado del alumno'
              id='user-code'
              name='code'
              type='text'
              class="validate"
              value="{{ user.code }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el grado del alumno"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>

            <div class="card-content">
          <div class='input-field'>
            <label for='user-section'>seccion del alumno</label>
            <input
              placeholder='seccion del alumno'
              id='user-section'
              name='section'
              type='text'
              class="validate"
              value="{{ user.section }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar la seccion del usuario"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>   
        </div>
        <div class='card-action'>
          <button class='blue darken-3 waves-effect waves-light btn'>
            <i class='material-icons left'>edit</i>
            Editar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>